//
//  Release.xcconfig
//  iOSSeniorDeveloper
//
//  Created by Đỗ Hoàng Sơn on 18/03/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = Hello World
PRODUCT_VERSION = 0.3
PRODUCT_BUNDLE_IDENTIFIER = com.Framgia.HelloWorldRelease
APP_ICON = AppIcon
FRAMGIA_URL = http:\/\/framgia.com.vn/
